@charset "utf-8";
header {
    background-color: gray;
}

body {
    color: #fff;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS Sans Serif","sans-serif";
    margin: 0;
}

ul {
  margin: 0;
}